<!DOCTYPE html>
<html ng-app="thinkster">
<head>
  <title>thinkster-django-angular-boilerplate</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}


  <table class="main-table">
   <tr>
      <td>

          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12 ng-view"></div>
            </div>
          </div>
      </td>
      <td>
         Content of the second column.
      </td>
   </tr>
</table>

  {% include 'javascripts.html' %}
</body>
</html>
